# Visual Studio cache/user files
.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.opendb
ipch/
*.ipch

# Build output directories
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/
#[Bb]in/
[Oo]bj/
obj/

# C/C++ intermediate/output files
*.o
*.d
*.obj
*.iobj
*.idb
*.ipdb
*.ilk
*.pdb
*.pch
*.tlog
*.lastbuildstate
*.log
*.tmp
*.exe.recipe
*.rsp

# Binary outputs
*.exe
*.dll
*.lib
!lib/
!lib/**
*.exp

# GNU Make executables without file extensions
src/ev_ftp_server/ev_ftp_server
src/first_libevent/firstlibevent
src/test_buffer/test_buffer
src/test_buffer_client/test_buffer_client
src/test_buffer_filter/test_buffer_filter
src/test_buffer_filter_zlib/test_buffer_filter_zlib
src/test_conf/testconf
src/test_event_server/test_event_server
src/test_file/test_file
src/test_signal_loop/test_signal_loop
src/test_http_client/test_client
src/test_http_server/test_server
src/test_server/test_server
src/test_signal/test_signal
src/test_thread_pool/test_thread_pool
src/test_timer/test_timer

# Local study/example directories
src/test_buffer_filter_zlib/out/
src/test_buffer_filter_zlib/test_buf.*/
src/test_buffer_filter_zlib/001.bmp
src/test_http_client/NMediaFile/
src/test_http_client/index.html
src/test_http_server/firstlibevent

# Per-user project settings
*.vcxproj.user
