# Visual Studio cache/user files
.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.opendb
ipch/
*.ipch

# Build output directories
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/
#[Bb]in/
[Oo]bj/
obj/

# C/C++ intermediate/output files
*.obj
*.iobj
*.idb
*.ipdb
*.ilk
*.pdb
*.pch
*.tlog
*.lastbuildstate
*.log
*.tmp
*.exe.recipe
*.rsp

# Binary outputs
*.exe
*.dll
*.lib
!lib/
!lib/**
*.exp
src/test_buffer/test_buffer
src/test_buffer_client/test_buffer_client
src/test_event_server/test_event_server
src/test_signal_loop/test_signal_loop

# Per-user project settings
*.vcxproj.user
